{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
        <form action="/booking_done" class="card mb-3" method="POST">
          {{ form.csrf_token() }}
          <div class="card-body text-center pt-5">
            <img src="{{teacher.picture}}" class="mb-3" width="95" alt="">
            <h2 class="h5 card-title mt-2 mb-2">{{teacher.name}}</h2>
            <p class="my-1">Запись на пробный урок</p>
            <p class="my-1">{{days[day]}}, {{time}}</p>
          </div>
          <hr />
          <div class="card-body mx-3">
              <div class="row">
                  {{form.clientWeekday(class_="form-control", value = day)}}
                  {{form.clientTime(class_="form-control", value = time)}}
                  {{form.clientTeacher(class_="form-control", value = teacher.name)}}
              </div>
            {{form.clientName.label(class_="mb-1 mt-2")}}

            {{form.clientName(class_="form-control")}}

            {{form.clientPhone.label(class_="mb-1 mt-2")}}

            {{form.clientPhone(class_="form-control")}}

            {{form.submit(class_="btn btn-primary btn-block mt-4")}}


          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}